{% extends "emails/base.html" %}
{% block kicker %}Bem-vindo(a){% endblock %}
{% block conteudo %}
<p style="margin:0 0 14px; font-size:15px; line-height:1.6;">Sua conta na contratempo foi criada. Para ativá-la, confirme que este e-mail é seu clicando no botão abaixo.</p>
<p style="margin:0 0 14px; font-size:15px; line-height:1.6;">O link vale por 3 dias e só pode ser usado uma vez. Se você não criou esta conta, pode ignorar esta mensagem.</p>
{% endblock %}
{% block botao %}Confirmar meu e-mail{% endblock %}
